<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4 card">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <div style="text-align: center;">
                <label for="files">
                    <img [src]="url" alt="" width=50% style = margin-top:10px>
                </label>
                <input id="files" type="file" formControlName = "imageUrl" (change)="onSelectFile($event)" hidden>
            </div>
            <div class="form-group">
                <label for="item">Item Name</label>
                <input type="text" formControlName="itemName" class="form-control" placeholder="Enter item Name"
                    [ngClass]="{ 'is-invalid': submitted && item.itemName.errors }">
                <div *ngIf="submitted && item.itemName.errors" class="invalid-feedback">
                    <div *ngIf="item.itemName.errors.required">Item Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea formControlName="description" class="form-control" placeholder="Enter Description"
                    [ngClass]="{ 'is-invalid': submitted && item.description.errors }"></textarea>
                <div *ngIf="submitted && item.description.errors" class="invalid-feedback">
                    <div *ngIf="item.description.errors.required">Description is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" formControlName="price" class="form-control" placeholder="Enter Price"
                    [ngClass]="{ 'is-invalid': submitted && item.price.errors }">
                <div *ngIf="submitted && item.price.errors" class="invalid-feedback">
                    <div *ngIf="item.price.errors.required">Price is required</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-4">
    </div>
</div>