<div class="card">
    <img [src]=products.imageUrl width=100%>
    <div class="card-body" style="text-align: center;">
        <p class="card-text">{{products.itemName}}</p>
        <p class="card-text">{{products.price | currency:"INR"}}</p>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-success" (click)="viewItem(products)" >View</button>
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeItem(products)">Delete</button>
        </div>
    </div>
</div>
