<div class="container-fluid ">
    <div class="row" style="margin-top: 5px;">
        <div class="col-3" *ngFor="let item of products">
            <app-product-item [products]=item></app-product-item>
        </div>
    </div>
</div>
